<div class="row">
	<div class="span8 offset2">
		<h1>About Link Ranger</h1>
		<div class="well">
		<p>Link Ranger was created to present an easier alternative to storing links that you regularly access. Storing links through Link Ranger allows you to retrieve your links enywhere, without having to login to a broswer and sychronize your settings.</p>
		</div>
	</div>
</div>