<h1>About MyLinks</h1>
<p>MyLinks was created to present an easier alternative to storing links that you regularly access. Storing links through MyLinks allows you to retrieve your links enywhere, without having to login to a broswer and sychronize your settings.</p>
