<div class="hero-unit">
	<h1>Link Ranger</h1>
	<p>Link Ranger is a project that allows you to carry your bookmarks with you anywhere. There is no need to sync with every browser you use, just go to your links to view what you have saved with Link Ranger.</p>
	<p>
		<%= link_to "Register Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
	</p>
</div>
