<div class="row">
	<div class="span8 offset2">
		<div class="well">
		<h1>Edit your link</h1>

		<%= render 'form' %>

		<%= link_to 'Show', @link %> |
		<%= link_to 'Back', links_path %>
	</div>
	</div>
</div>
