<div class="row">
	<div class="span6 offset3">
		<div class="well">
			<p>
			  <%= link_to @link.address, url_with_protocol(@link.address), :target => '_blank' %>
			</p>

			<p>
			  <%= @link.description %>
			</p>

			<% if current_user == @link.user %>
			<%= link_to 'Edit', edit_link_path(@link) %> |
			<% end %>
			<%= link_to 'Back', links_path %>
		</div>
	</div>
</div>