$btnPrimaryBackground: green;
$navbarBackgroundHighlight: #eeeeee;
$navbarBackground: #eeeeee;

@import 'bootstrap';

body {
	padding-top: 60px;
}

@import 'bootstrap-responsive';

.navbar-inner {
	@include box-shadow(none !important);
	border: 0px;
}

.footer {
	margin-top: 80px;
}

textarea {
	width: 96%;
	height: 180px;
}